*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 15px;
    box-sizing: border-box;

}
/*<--------------------Header section------------------------>*/

/*Bar in header section*/

/*header{*/
    /*!* position: fixed; *!*/
    /*height: 100%;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: 9999;*/
    /*-webkit-transition: all 0.4s ease-out;*/
    /*transition: all 0.4s ease-out;*/
/*}*/
.header-section-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.header-container {
    margin: 0 auto;
    padding: 0 1em;
    width: 78em;
}
.header-wrapper {
    height: 100vh;
    width: 100%;
}

/*------------------------------------------------------------*/

/*Logo in bar header section*/

.header-logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.header-logo a{
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: #fff;
    letter-spacing: 0.45em;
    font-weight: 900;
    font-size: 0.95em;
}

/*------------------------------------------------------------*/

/*Navigation in bar header section*/

.header-navbar {
    margin: 0;
}
.header-nav{
    padding: 1.8em;
}
.nav-menu{
    list-style-type: none;
}
.nav-menu a{
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.05em;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 2em 1em;
}
.nav-menu a:hover, .nav-menu a:focus{
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.bg-light{
    /*visibility: hidden;*/
}
.navbar-collapse{
    justify-content: flex-end;
}
.nav-link{
    text-align: center;
}
/*-------------------------------------------------------------*/

/*Main in header section*/

.header-section-main {
    position: relative;
    height: 100%;
    background: url(./images/bg1.jpg);
    background-size: cover;
    z-index: 1;
}

.header-section-main:after {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
.header-text-center{
    text-align: center;
    position: relative;
    min-height: 1px;
    padding-right: 1em;
    padding-left: 1em;
}
.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.header-section-main h2 {
    color: #f8f8f8;
    font-size: 3.33em;
    letter-spacing: 0.33em;
    margin: 0;
}

.header-section-main p {
    color: #f8f8f8;
    letter-spacing: 0.1em;
    font-size: 2em;
    margin-top: 2.66em;
    margin-bottom: 1.33em;
}

/*---------------------------------------------------------------------*/

/*Button Main in header section*/

.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 1.66em 5.33em;
    display: inline-block;
    margin: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.button:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.button-style {
    border-radius: 3.33em;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
    background: #24b662;
    color: #ffffff !important;
}

.button-style:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-style:active:before {
    color: #17954c;
}

.button-style-icon:before {
    left: 130%;
    top: -2px;
}

.button-style-icon:hover:before {
    left: 80%;
}

.button-style-dark {
    border: 3px solid #000000 !important;
    color: #000000;
}
.header-main-button {
    margin-top: 60px !important;
}


/*<----------About Me. section---------->*/


/*<---------Grid--------->*/
.row {
    margin: 0 -1em;
}

[class *="col-"]{
    float: left;
}

.col-12 {
    width: 100%
}

.col-11 {
    width: 91.66666667%
}

.col-10 {
    width: 83.33333333%
}

.col-9 {
    width: 75%
}

.col-8 {
    width: 66.66666667%
}

.col-7 {
    width: 58.33333333%
}

.col-6 {
    width: 50%
}

.col-5 {
    width: 41.66666667%
}

.col-4 {
    width: 33.33333333%
}

.col-3 {
    width: 25%
}

.col-2 {
    width: 16.66666667%
}

.col-1 {
    width: 8.33333333%
}
.col-offset-12 {
margin-left: 100%
}

.col-offset-11 {
margin-left: 91.66666667%
}

.col-offset-10 {
margin-left: 83.33333333%
}

.col-offset-9 {
margin-left: 75%
}

.col-offset-8 {
margin-left: 66.66666667%
}

.col-offset-7 {
margin-left: 58.33333333%
}

.col-offset-6 {
margin-left: 50%
}

.col-offset-5 {
margin-left: 41.66666667%
}

.col-offset-4 {
margin-left: 33.33333333%
}

.col-offset-3 {
margin-left: 25%
}

.col-offset-2 {
margin-left: 16.66666667%
}

.col-offset-1 {
margin-left: 8.33333333%
}




@media (min-width: 768px) {

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }
}
